.app-container {
  max-width: 400px;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;

  &.has-center-mode {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.has-full-size {
    height: 100vh;
  }
}
