<% @steps = YAML.load_file(Rails.root + 'config/steps.yml') %>
<% @step = @steps[page] %>


<!-- <p><%# @step['intro'] %></p> -->
<div class="third text-center">
  <div class="container">
    <div class="row padded">
      <div>
        <%= render 'steps/form' %>
      </div>
    </div>
  </div>
</div>

<!-- <p><%# "Info: " + @step['info'] %></p> -->



<!--

step1.1:
  intro: "Tell us what you’re looking for and we’ll elaborate your Dossier with you."
  question:
    0:
      text: "Where do you want to live ?"
      format: integer
      name: zipcode
      label: "Research Area"
  info: "prices & owner’s expectations change a lot from an area to another"
  validate: "Go to next step"
  next: step1.2 -->
