#map {
  position: absolute;
  width: 40%;
  top: 70px;
  right: 0px;
  bottom: 0px;
}
.sidebar {
  position: absolute;
  top: 70px; /* assuming a navbar with a 50px height */
  bottom: 0;
  left: 0;
  width: 60%;
  overflow: auto; /* permet de rendre le contenu scrollable */
  padding: 35px;
}
