#slider-price .slider-selection {
  background: #469AE0;
}
#slider-area .slider-selection {
  background: #469AE0;
}
#slider-rating .slider-selection {
  background: #469AE0;
}

#slider-price .slider-handle {
  background: white;
  border: 1px solid #469AE0;
}
#slider-area .slider-handle {
  background: white;
  border: 1px solid #469AE0;
}
#slider-rating .slider-handle {
  background: white;
  border: 1px solid #469AE0;
}
