<%= link_to '', activity_path(activity), class: 'activity-item-link' %>
<div class="activity-item <%= color %>">
  <div class='activity-item-icon'>
    <webicon icon=<%= activity.icon %> />
  </div>
</div>
<div class="activity-item-title">
  <%= activity.name %>
</div>
