<div class="container">
 <div class="row">
    <div class="col-xs-12">
      <h3>Your Booking has been succesfully transmitted, you will receive a confirmation email </h3>
    </div>
    <div class="col-xs-12">
      <p style="height:100px" class="text-center"><%= image_tag "yes.png" %> </p>
    </div>
    <div class="col-xs-12">
      <button class="btn btn-default"><%= link_to "go back to the Spot Description", spot_path(@spot) %></button>
      <button class="btn btn-default"><%= link_to "go back to the Spots lists", spots_path %></button>
    </div>
  </div>
</div>



