<div class="footer">
  <div class="container">
    <div class="row">
      <ul class="list-inline">
        <li></li>
        <li><i class="fa fa-linkedin"></i></li>
        <li><i class="fa fa-linkedin"></i></li>
        <li><i class="fa fa-linkedin"></i></li>
      </ul>
    </div>
  </div>
</div>
